<h1><strong>Правила оренди</strong></h1>

<div>
  <p>Бронюючи студію, ви погоджуєтеся з нашими правилами, зобов’язуєтеся виконувати всі умови фотостудії та
    дбайливо ставитися до реквізиту і фотообладнання.<br>
    Ви також несете відповідальність за всіх, хто знаходиться разом з вами у залі, який ви орендуєте.</p>
  <h3>Зміна інтер’єрів</h3>
  <p>Ми час від часу змінюємо інтер’єри, будь-ласка враховуйте це.<br>
    Актуальні фото декору на <a routerLink="/room-list">сайті</a></p>
  <h3>Скасування-перенесення бронювання:</h3>
  <ul>
    <li>Бронювання залу, що було сплачено, скасувати не можна, але можна його перенести (не більше одного
      разу) на інший день (в період 6 місяців ), якщо повідомити адміністрацію за 2 доби (48 годин) до
      початку зйомки.</li>
    <li>Оплата за бронювання залу не повертається.</li>
    <li>Оплата не повертається, якщо ви не прийшли на зйомку, запізнилися, забули або був форс-мажор у
      клієнтів!</li>
  </ul>
  <p>Додаткові умови:</p>
  <ul>
    <li>Мінімальний час оренди – 1 година.</li>
    <li>Деякі зали можуть надаватися від 2-х годин! Уважно подивіться умови.</li>
    <li>Сума оплат не зменшується через ваше запізнення або дострокове завершення зйомок.</li>
    <li>За необхідності ви можете продовжити час оренди, якщо цей час вільний.</li>
    <li>Мінімальний час подовження – 30 хвилин, за наявності вільного часу.</li>
    <li>За бажанням клієнт може бронювати нічний час, вихідні або святкові дні за попереднім узгодженням з
      адміністрацією. Доплата 300 грн/год до вартості залу за позаробочий час.</li>
  </ul>
  <p>Будь-які зміни у бронюванні студії потрібно повідомляти виключно за студійним номером +38 067 119 1
    119, не у соціальних мережах і смс!<br>
    Зателефонувати в студію можна з 9:00 до 21:00.</p>
  <h3>Час оренди</h3>
  <p>Початком оренди фотостудії вважається час, на який було зроблене замовлення, незалежно від того, коли
    Ви прибули до студії. Часом закінчення оренди студії вважається час, коли фотограф та всі учасники
    знімального процесу залишають студію, а не час, коли завершується зйомка.<br>
    Клієнт зобов’язаний залишити студійний зал і гримерку не пізніше часу закінчення оренди. Подовження часу
    оренди студії можливо тільки, якщо у графіку оренди є вільний час, що оплачується згідно тарифам.</p>
  <h3>Правила оренди залів студії Веселка</h3>
  <ul>
    <li>При відвідуванні студії Веселка, клієнт має пред’явити документ, що засвідчує особу (паспорт,
      закордонний паспорт, права).</li>
    <li>Вхід у зали фотостудії Веселка дозволяється у чистому змінному взутті.</li>
    <li>Фактичний час зйомки за умови бронювання однієї години ~55 хвилин!</li>
    <li>Пересування між залами під час фотосесії заборонене.</li>
    <li>Залишити зал Ви повинні тоді, коли закінчується час вашої оренди.</li>
    <li>Завершити зйомку необхідно за 5 хвилин до закінчення часу: моделі повинні встигнути переодягнутися,
      а Ви повинні перед виходом поставити реквізит на місце, вимкнути світло, привести все до ладу.</li>
    <li>Перебування тварин у залі можливе тільки за попередньої домовленості. Вартість послуги – 100 грн за
      одну тварину. Після перебування тварин у залі може знадобитися вологе прибирання, оскільки після Вас
      до залу можуть прийти діти або люди з алергією на шерсть. Збитки, що були спричинені тваринами,
      сплачує клієнт.</li>
    <li>Не міняйте світлові насадки самостійно – обов’язково зверніться до адміністратора студії.</li>
    <li>Фото чи відео зйомка з пухом дозволена, оплата прибирання 300 грн.</li>
    <li>Зйомка з метафаном (конфеті) попередньо узгоджується з адміністратором.</li>
    <li>Додатково сплачується прибирання (від 100 грн). Також час зйомки зменшується через прибирання залу.
      В разі непогодження питання з адміністратором – штраф 500 гривень.</li>
    <li>Падіння обладнання – штраф 500 грн плюс вартість ремонту обладнання.</li>
    <li>Якщо ви забруднили, розірвали або зіпсували реквізит – ви зобов’язані сплатити штраф 500 грн та
      додатково сплатити вартість ремонту, заміни або хімчистки від 500 грн.</li>
    <li>Якщо на локації знаходиться більше 8 людей – доплата 50грн/людина</li>
    <li>Категорично заборонені зйомки порнографічного характеру. Під час зйомки НЮ модель повинна мати
      документи, що підтверджують її повноліття!</li>
    <li>У кожному залі цілодобово ведеться відеоспостереження з метою безпеки!</li>
  </ul>
  <h3>Загальні правила студії Веселка</h3>
  <ul>
    <li>Курити і розводити відкритий вогонь заборонено. Штраф за порушення правила – 2000 грн.</li>
    <li>Самостійно запалювати свічки можливо лише в присутності адміністратора студії. Порушення правила –
      штраф 500 грн</li>
    <li>Вживати алкогольні напої заборонено.</li>
    <li>Їсти реквізит на локаціях фотостудії заборонено.</li>
    <li>Робити фото порнографічного характеру заборонено.</li>
    <li>Вживати їжу дозволяється тільки на рецепшині. В студійному павільйоні це можливо тільки у випадках,
      коли їжа є об’єктом зйомки.</li>
    <li>Взуття, в якому моделі беруть участь у зйомці, повинно бути сухим та чистим!</li>
    <li>Після закінчення зйомки орендар зобов’язаний залишити знімальний майданчик в тому ж вигляді, в якому
      він був до початку зйомки. Це значить, що ви повинні вимкнути обладнання та поставити його на місце,
      пересунути на місце меблі, а також скласти реквізит і декор.</li>
    <li>Якщо сюжет фотосесії передбачає подальше прибирання – умови узгоджуються з адміністрацією і в цьому
      випадку ціна за прибирання приміщення складе від 100 грн. (сніг, конфеті, сіно, мильні бульбашки).
    </li>
    <li>Перевірка справності техніки є обов’язковою перед початком її використання.</li>
    <li>Коли час оренди закінчився, адміністратор перевіряє справність студійного обладнання та реквізиту. У
      випадку псування обладнання та аксесуарів, орендар зобов’язаний відшкодувати вартість зіпсованого
      майна, а також сплатити штраф у розмірі 500 грн.</li>
    <li>У випадку падіння обладнання (у тому числі і синхронізаторів) з вашої провини або вашого клієнта –
      сплачується штраф 500 грн.</li>
    <li>Заборонено користуватись студійними меблями, якщо модель перед зйомкою використовує крем або олію
      (для засмаги і т.д), що може призвести до псування покриття меблів (плями на тканині, оббивці) або
      іншого предмету інтер’єру.</li>
    <li>Штраф – 1000 грн., а також відшкодування витрат на відновлення предмету інтер’єру – від 500 грн.
    </li>
    <li>Студія не може бути використана для пропаганди насилля, сепаратизму, екстремізму чи інших незаконних
      дій</li>
    <li>Орендар несе відповідальність за все, що відбувається під час зйомки, або івенту.</li>
    <li>Орендар має ознайомити з цими правилами всіх, хто присутній на зйомці, та несе відповідальність за
      все, що відбувається на орендованій локації.</li>
    <li>УВАГА! Адміністрація студії Веселка залишає за собою право зупинити зйомку через порушення наших
      правил. У цьому випадку грошові витрати за оренду не повертаються.</li>
  </ul>
  <h3>Компенсація збитків</h3>
  <p>Орендуючи студію клієнт бере на себе матеріальну відповідальність за стан обладнання, реквізиту, фонів
    і приміщень студії, що орендуються. Завдавши збитки приміщенням студії або обладнанню Клієнт
    зобов’язаний компенсувати вартість ушкоджень. Якщо зіпсована постільна білизна та меблі, стягується
    компенсація від 500 грн за хімчистку. Псування, пошкодження або незворотне забруднення фото фонів
    оплачуються з розрахунку – 250 грн за погонний метр. За захід на циклораму без змінного взуття – штраф
    1000 грн.</p>
  <h3>Повітряна тривога</h3>
  <p>Під час тривоги фотостудія не працює. Прохання пройти в укриття. Найближче укриття знаходиться в 2 хв
    ходьби на вул. Сяйво, 60</p>
  <h4>Бажаємо вам приємного комфортного перебування у нас!</h4>
  <p>Веселка-створюємо настрій, зберігаємо Твої емоції<br>
    Гарної Вам зйомки!<br>
    Студія не несе відповідальність за збереження речей та цінностей відвідувачів, що були залишені на
    території студії.</p>
</div>
