<h2>Панель адміністратора</h2>
<div class="tab-panel mt-3">
  <tabset #staticTabs class="member-tabset">
    <tab heading="Керування кімнатами">
      <div class="container mt-2">
        <app-room-management></app-room-management>
      </div>
    </tab>
    <tab heading="Керування бронюваннями">
      <div class="container mt-2">
        <app-booking-management></app-booking-management>
      </div>
    </tab>
    <tab heading="Керування обладнанням">
      <div class="container mt-2">
        <app-equipment-management></app-equipment-management>
      </div>
    </tab>
  </tabset>
</div>
