<div class="container mt-4">
  <div class="mt-3 w-75">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 10%">Початок бронювання</th>
            <th style="width: 10%">Кінець бронювання</th>
            <th style="width: 10%">Ім'я користувача</th>
            <th style="width: 5%">ID кімнати</th>
            <th style="width: 55%">Посилання на файл</th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
              <td>{{booking.bookFrom | date: 'd.MM, H:mm'}}</td>
              <td>{{booking.bookTo | date: 'd.MM, H:mm'}}</td>
              <td>{{booking.username}}</td>
              <td>{{booking.roomId}}</td>
              <td><input value="{{booking.fileUrl}}" [(ngModel)]="booking.fileUrl" type="text" class="form-control"></td>
              <td><button class="btn btn-danger" (click)="deleteBooking(booking.id)" ><i class="fa fa-trash"></i></button></td>
              <td><button class="btn btn-primary" (click)="finishBooking(booking.id, booking.fileUrl)" ><i class="fa fa-check-square-o"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
