<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="w-75">
        <carousel [isAnimated]="true">
          <slide>
            <img src="assets/slide1.jpg" alt="first slide" style="display: block; width: 100%;" class="rounded">
            <div class="carousel-caption d-none d-md-block">
              <h3>Великий вибір кімнат та декорацій</h3>
            </div>
          </slide>
          <slide>
            <img src="assets/slide2.jpg" alt="second slide" style="display: block; width: 100%;" class="rounded">
            <div class="carousel-caption d-none d-md-block">
              <h3>Першокласні фотографи</h3>
            </div>
          </slide>
          <slide>
            <img src="assets/slide3.jpg" alt="third slide" style="display: block; width: 100%;" class="rounded">
            <div class="carousel-caption d-none d-md-block">
              <h3>Якісний сервіс</h3>
            </div>
          </slide>
        </carousel>
      </div>
    </div>


  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Фотостудія Веселка – це творче місце у вашому місті, де можна робити красиві кадри,
        влаштовувати яскраві фотосесії та знімати найдорожчі моменти в житті.</p>
    </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card border-dark h-100 text-bg-light">
        <img src="assets/card1.jpg" class="card-img" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Хто ми?</h5>
          <p class="card-text">Фотостудія "Веселка" - це інтер’єрна фотостудія. У вашому розпорядженні 2500 кв.м.
            творчого простору, великі зали з природнім світлом, різноманітним інтер’єром та декором, що пасує до всіх
            видів зйомки: рекламна, фешн, весільна, сімейна, індивідуальна фотосесія та відеозйомка.</p>
          <a class="btn btn-primary btn-sm mt-auto" routerLink="/rules">Правила</a>
        </div>
      </div>

    </div>
    <div class="col-md-4 mb-5">
      <div class="card border-dark h-100 text-bg-light">
        <img src="assets/card2.jpg" class="card-img" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Перегляньте каталог наших кімнат!</h5>
          <p class="card-text">Оберіть який інтер'єр пасує саме для вас. Зафіксуйте ці незабутні моменти вашого життя
            разом з нами!</p>
          <a class="btn btn-primary btn-sm mt-auto" routerLink="/room-list">Каталог</a>
        </div>

      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card border-dark h-100 text-bg-light">
        <img src="assets/card3.jpg" class="card-img" alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Виникли питання?</h5>
          <p class="card-text">Напишіть нам на пошту чи подзвоніть і ми відповімо на все що вас цікавить.</p>
          <a class="btn btn-primary btn-sm mt-auto" routerLink="/contacts">Контакти</a>
        </div>
      </div>
    </div>
  </div>
</div>
