<div class="container px-4 px-lg-5">
  <div class="card card-top text-bg-light">
    <div class="card-body">
      <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/studio.png" alt="Studio image" />
        </div>
        <div class="col-lg-5">
          <h1 class="font-weight-light">Ласкаво просимо до фотостудії «Веселка»</h1>
          <p>Запрошуємо вас в чарівний світ кольорів та мрій, де кожен момент стає незабутнім шедевром. Фотостудія
            "Веселка" - це місце, де ми втілюємо ваші найкращі миті в життя неймовірними зображеннями.

            Наша команда професіоналів готова зробити кожну вашу фотосесію особливою і неповторною. Ми спеціалізуємося
            на різних жанрах фотографії, від портретів та студійних зйомок до фотоісторій, святкових подій та весіль. У
            нас ви знайдете індивідуальний підхід до кожного клієнта.

            Наша фотостудія обладнана сучасними технологіями та професійним обладнанням, щоб забезпечити найвищу якість
            фотографій. Ми ретельно працюємо над кожним кадром, щоб дарувати вам найкращі знімки, які ви зможете тримати
            в своєму серці назавжди.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Фотостудія Веселка – це творче місце у вашому місті, де можна робити красиві кадри,
        влаштовувати яскраві фотосесії та знімати найдорожчі моменти в житті.</p>
    </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card border-dark h-100 text-bg-light">
        <img src="assets/card1.jpg" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Хто ми?</h5>
          <p class="card-text">Фотостудія "Веселка" - це інтер’єрна фотостудія. У вашому розпорядженні 2500 кв.м.
            творчого простору, великі зали з природнім світлом, різноманітним інтер’єром та декором, що пасує до всіх
            видів зйомки: рекламна, фешн, весільна, сімейна, індивідуальна фотосесія та відеозйомка.</p>
          <a class="btn btn-primary btn-sm" routerLink="/rules">Правила</a>
        </div>
      </div>

    </div>
    <div class="col-md-4 mb-5">
      <div class="card border-dark h-100 text-bg-light">
        <img src="assets/card2.jpg" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Перегляньте каталог наших кімнат!</h5>
          <p class="card-text">Оберіть який інтер'єр пасує саме для вас. Зафіксуйте ці незабутні моменти вашого життя
            разом з нами!</p>
          <a class="btn btn-primary btn-sm" routerLink="/room-list">Каталог</a>
        </div>

      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card border-dark h-100 text-bg-light">
        <img src="assets/card3.jpg" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Виникли питання?</h5>
          <p class="card-text">Напишіть нам на пошту чи подзвоніть і ми відповімо на все що вас цікавить.</p>
          <a class="btn btn-primary btn-sm" routerLink="/">Контакти</a>
        </div>
      </div>
    </div>
  </div>
</div>
