/* Apply these styles to the parent container to make it a flex container */
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes the full height of the viewport */
}

/* Add some space between the content and footer */
.container {
  flex: 1; /* Allow the content to grow and take available space */
  margin-top: 100px;
}

app-footer {
  width: 100%;
  color: #fff; /* You can set the text color you prefer * /* Adjust the padding as needed */
}
