<section class="contact" id="contact">
  <div class="container">
      <div class="heading text-center">
          <h2>Контактна
              <span> інформація </span></h2>
          <p>Залишилися запитання? Хочете провести захід у нашій студії? Запланована
            зйомка кліпу, телепередачі?</p>
      </div>
      <div class="row align-items-center justify-content-center">
          <div class="col-md-3">
              <div class="title">
                  <h3>Фотостудія «Веселка»</h3>
                  <p><i class="fa fa-calendar"></i>
                    Пн - Пт з 9:00 до 21:00 </p>
              </div>
              <div class="content">
                  <!-- Info-1 -->
                  <div class="info">
                    <i class="fa fa-phone"></i>
                      <h4 class="d-inline-block">ТЕЛЕФОН :
                          <br>
                          <span>+12457836913 , +12457836913</span></h4>
                  </div>
                  <!-- Info-2 -->
                  <div class="info">
                    <i class="fa fa-envelope-o"></i>
                      <h4 class="d-inline-block">ПОШТА :
                          <br>
                          <span>example@info.com</span></h4>
                  </div>
                  <!-- Info-3 -->
                  <div class="info">
                    <i class="fa fa-map-marker"></i>
                      <h4 class="d-inline-block">АДРЕСА :<br>
                          <span>6743 last street , Abcd, Xyz</span></h4>
                  </div>
              </div>
          </div>
          <div class="col-md-5">
              <img src="assets/mapimage.png" style="width: 600px; height: auto;" alt="map photo">
          </div>
      </div>
  </div>
</section>
