<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <div class="collapse navbar-collapse" id="nav">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        <img src="assets/logo.png" alt="Header image" width="120" height="60" />
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/room-list" routerLinkActive="active">Локації</a>
          </li>
          <li class="nav-item" *appHasRole="'User'">
            <a class="nav-link" aria-disabled="true" routerLink="/user-bookings" routerLinkActive="active">Мої бонювання</a>
          </li>
          <li class="nav-item" *appHasRole="'Admin'">
            <a class="nav-link" aria-disabled="true" routerLink="/admin-panel" routerLinkActive="active">Панель адміністратора</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" routerLink="/" routerLinkActive="active">Контакти</a>
          </li>
        </ng-container>
      </ul>

      <div *ngIf="(accountService.currentUser$ | async) as user">
        <button class="btn btn-outline-danger" (click)="logout()" type="submit">{{user.username}}<i class="fa fa-sign-out ms-2"></i>
        </button>
      </div>

      <div *ngIf="!(accountService.currentUser$ | async)">
        <form *ngIf="loginMode" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input name="userName" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
          <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password">
          <button class="btn btn-primary" type="submit">Логін</button>
          <button class="btn btn-outline-danger ms-2" (click)="onLogin()" type="submit">Назад</button>
        </form>

        <div *ngIf="!loginMode">
          <button type="button" (click)="onLogin()" class="btn btn-primary">Логін</button>
          <button type="button" routerLink="/register" class="btn btn-primary ms-2">Реєстрація</button>
        </div>
      </div>
    </div>
    </div>
  </nav>
